html {font-family: 'Noto Sans', sans-serif;}
body {margin:0;background:#F4F7FB;font-size:16px;color:#353A42;line-height:1.5em;}
figure {margin:0;padding:0;}
h1 {font-size: 18px;font-weight:700;margin:20px 16px 20px 16px;}
h2, h3, h4 {font-size:16px;font-weight:700;margin:20px 16px 20px 16px;}
p {padding:0 16px 0 16px;margin: 20px 0 20px 0;}
li {margin:20px 16px 20px 8px;}

.article-heading {background:#ffffff;padding:20px;}
.article-title {font-weight: normal;font-size: 18px;}
.article-time {font-weight:bold;font-size: 13px;color:#757F8F;}
.article-main {padding-bottom:20px;border-bottom:20px solid #353A42;}
.article-image {max-height:200px;overflow: hidden;}
.article-image img {width:100%;}
.article-q {border-left:4px solid #7DAAED;}
.article-q q {font-size:18px;font-style:italic;color:#353A42;}

.colorbox {clear:left;margin:10px;}

.colors {width:200px;float:left;height: 55px;color:#fff;font-size:16px;font-weight:bold;padding:20px;}
.darktext {color:#353A42}
.blacktext {color:#000000}

.color1 {background-color:#39C6A4}
.color2 {background-color:#41B6CF}
.color3 {background-color:#E6B63A}
.color4 {background-color:#E27A2F}
.color5 {background-color:#8B59D3}
.color6 {background-color:#DD523F}
.color7 {background-color:#7DAAED}
.color1A {background-color:#30A68B}
.color2A {background-color:#2E9EB8}
.color3A {background-color:#B98B18}
.color4A {background-color:#E2782C}
.color5A {background-color:#8B59D3}
.color6A {background-color:#DD523F}
.color7A {background-color:#5D95E9}
.color1B {background-color:#70D8BF}
.color2B {background-color:#60C9E0}
.color3B {background-color:#F2C758}
.color4B {background-color:#F1A065}

.color1P {background-color:#1aa495}
.color2P {background-color:#3caac6}
.color3P {background-color:#f2c41a }
.color4P {background-color:#f26343 }





